
Hakatonya2023/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Hakatonya2023/.vs/Hakatonya2023/v16/.suo
*.log
*.cache
*.cache
Hakatonya2023/obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
*.dwlt
*.log
*.log
*.dwlt
*.log
Hakatonya2023/Logs/shadercompiler-UnityShaderCompiler.exe0.log
*.dwlt
